@model Core.Viewmodels.PasswordResetViewmodel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Reset Password</h3>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <form asp-controller="Account" asp-action="ResetPassword" method="post">

                    @if (TempData["Message"] != null)
                    {
                        var tempDatamessage = (PharmacyKing.Models.Messages)TempData["Message"];
                        <partial name="_Message" model="tempDatamessage" />
                    }

                    <input asp-for="Token" value="@Model?.Token" class="bg-light form-control col-10 col-sm-12 p-4" hidden />

                    <div class="form-group">
                        <label>New password</label>
                        <input asp-for="Password" type="password" class="form-control" required minlength="6" />
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" required minlength="6" />
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

</div>
<!-- /Page Wrapper -->

